
/* BARRA DE NAVEGACION - IMAGEN CASA HOME y FOOTER */
.aab-div-nav{
    background-color:$color1;
    border-bottom: black solid 2px;
  }
  
  .aab-img-titulo {
    width: 18%;
    margin: 3px;
    padding: 3px;
  }
  
  .aab-home-img {
    width: 3%;
  }
  
  .aab-header-a {
    margin: 3px;
    padding: 3px;
  }
  
  .aab-footer-img {
    width: 3%;
  }
  
  footer a {
    margin: 3px;
    padding: 3px;
  }
  /* FIN BARRA DE NAVEGACION - IMAGEN CASA HOME y FOOTER */
  
   