
// Para que la barra no tape el main
.aab-main-paginas {
    padding: 10px;
  }

.titulo-pagina{
    color:white;
    font-size: 1.6rem;
    font-weight: bold;
    border: solid 2px black;
    padding-bottom: 5px;
    text-align: center;
    background-color: $color2;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.aab-parrafos-paginas{
    color:black;
    margin:10px;
    text-align: justify;
    font-size: 1.1rem;
    text-indent: 10px;
 }

.aab-boton-codigo{
    text-align: center;
    font-size: 1rem;
    margin:3px;
    padding:3px;
    font-weight:400;
}

.classImgCod1 {
    display: none;
}
.classImgCod2 {
    display: none;
}

.texto-warning{
    color:red;
    font-weight: 500;
}

.texto-resaltado{
    color:blue;
    font-weight: 500;
}

.img-alinear-centro{
    padding:10px;
    display: block; /* Asegura que la imagen sea un bloque en su contenedor */
    margin: 0 auto; 
}


// ESTILOS PARA LA TABLA QUE MUESTRA EL ARCHIVO CSV

.tablaCSV {
    border-collapse: collapse; /* Asegura que los bordes de la tabla estén juntos */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px; /* Espacio encima de la tabla */
}/* Estilos para las celdas de la tabla */ th, td {
    border: 1px solid black; /* Bordes para las celdas */
    padding: 8px; /* Espaciado interno en las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
}

// FIN ESTILOS PARA LA TABLA QUE MUESTRA EL ARCHIVO CSV