.aab-main-practica {
    padding: 10px;
  }

.titulo-practica{
    color:white;
    font-size: 1.6rem;
    font-weight: bold;
    border: solid 2px black;
    padding-bottom: 5px;
    text-align: center;
    background-color: $color2;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.aab-parrafos-practica{
    color:black;
    margin:10px;
    text-align: justify;
    font-size: 1.1rem;
    text-indent: 10px;
 }

#botonPrompt {
    margin-left:20px;
    cursor: pointer; /* Cambia a 'pointer' cuando el ratón pasa sobre el icono */
}

#botonCodigo3 {
    margin-left:20px;
    cursor: pointer; /* Cambia a 'pointer' cuando el ratón pasa sobre el icono */
}

.classImgCod3 {
    display: none;
}


#botonCuil {
    margin-left:20px;
    cursor: pointer; /* Cambia a 'pointer' cuando el ratón pasa sobre el icono */
}

#botonCodigoCuil {
    margin-left:20px;
    cursor: pointer; /* Cambia a 'pointer' cuando el ratón pasa sobre el icono */
}

.classImgCodCuil {
    display: none;
}


.aab-boton-practica-codigo{
    text-align: center;
    font-size: 1rem;
    margin:1%;
    padding:0.5%;
    font-weight:bold;
}

.classImgCod3 {
    display: none;
}


.CodSueldoNeto {
    display: none;
}

/*TABLA SUELDOS - QUE NO SE MEUSTRE HASTA SELECCIONAR UNA CATEGORIA*/
/* Estilos para la tabla de sueldos */
#tablaSueldos {
    width: 50%; /* Ajustar esto según necesidades */
    border-collapse: collapse; /* Opcional, para un estilo más limpio */
    display: none; /* Para que no se muestre hasta que se seleccione una categoría */
}

#tablaSueldos th, #tablaSueldos td {
    padding: 5px 10px; /* Espaciado dentro de las celdas */
}

#tablaSueldos th {
    background-color: rgb(172, 172, 209); /* Color de fondo para los encabezados */
    text-align: left; /* Alineación a la izquierda para los títulos de las columnas por defecto */
}

#tablaSueldos th:nth-child(2) {
    text-align: center; /* Alineación al centro para el título de la segunda columna */
}

#tablaSueldos td:nth-child(2) {
    text-align: right; /* Alineación a la derecha para la segunda columna de datos */
}

.sueldo-bruto {
    font-weight: bold; 
}

.sueldo-neto {
    color: rgb(3, 3, 58);
    font-weight: bold; 
}

/*FIN TABLA SUELDOS - QUE NO SE MEUSTRE HASTA SELECCIONAR UNA CATEGORIA*/