.aab-parrafos-videos {
  color: $color2;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.aab-boton-video {
  color: rgb(5, 5, 54);
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
  border-radius: 4px;
}
.aab-boton-video:hover {
  color: white;
  background-color: black;
}
